@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

$primary-color: #1da1f2;
$dark-color: #000;
$light-color: #fff;
$danger-color: #df4759;

$retweet-color: #17bf63;
$like-color: #e0245e;

$ff: 'Nunito', sans-serif;


@mixin mediaLg {
    @media screen and (min-width: 1281px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 1280px) {
        @content;
    }
}