.new-tweet {
    position: relative;
    display: flex;
    gap: 1rem;

    .profile-pic {
        position: relative;
        top: 1rem;
    }

    form {
        width: 100%;
    }

    textarea {
        background: none;
        outline: none;
        border: none;
        overflow: hidden;
        resize: none;
        width: 100%;
        color: $light-color;
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1.5rem;

        &::placeholder {
            color: rgba($light-color, 0.7);
            font-size: 1.2rem;
            margin: auto 0;
        }
    }

    .tweet-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1rem;
        border-top: solid 0.1px rgba($light-color, 0.3);

        .tweet-options {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            color: $primary-color;
            
            .tweet-option {
                padding: 0.8rem;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background-color: rgba($primary-color, 0.1);
                }
            }

        }
    }
}

.profile-pic {
    min-height: 48px;
    min-width: 48px;
    max-height: 48px;
    max-width: 48px;
    background-color: $primary-color;
    border-radius: 50%;
}

.tweets {
    @for $i from 1 through 10 {
        & .tweet:nth-child(#{$i}) {
            animation-name: fly-in;
            // animation-duration: 0.3s;
            animation-duration: #{$i * 0.4}s;
        }
    }
}

.tweet {
    position: relative;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-bottom: solid 0.1px rgba($light-color, 0.3);
    cursor: pointer;

    &:hover {
        background-color: rgba($color: #fff, $alpha: .03);
    }

    .tweet-desc {
        width: 100%;

        .tweet-body {
            white-space: pre-wrap;
            line-height: 1.5rem;
        }
    }
}

.tweet-username {
    color: rgba($light-color, 0.6);
    cursor: pointer;

    &:hover a {
        border-bottom: solid 1px $light-color;
    }
}

.tweet-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgba($light-color, 0.7);
    
    .tweet-link {
        padding: 0.5rem;
        border-radius: 50%;

        &.comment:hover {
            color: rgba($primary-color, 1);
            background-color: rgba($primary-color, 0.1);
        }

        &.retweet:hover {
            color: rgba($retweet-color, 1);
            background-color: rgba($retweet-color, 0.1);
        }

        &.like.liked {
            color: rgba($like-color, 1);
        }

        &.like:hover {
            color: rgba($like-color, 1);
            background-color: rgba($like-color, 0.1);
        }

        &.share:hover {
            color: rgba($primary-color, 1);
            background-color: rgba($primary-color, 0.1);
        }
    }
}

.thread {
    .profile {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .tweet-body {
        white-space: pre-wrap;
        line-height: 2.3rem;
    }

    .tweet-username {
        color: rgba($light-color, 0.6);
        cursor: pointer;

        &:hover a {
            border-bottom: solid 1px $light-color;
        }
    }

    .time-date {
        color: rgba($light-color, 0.6);
        border-bottom: solid 0.1px rgba($primary-color, 0.3);
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #fff, $alpha: .3);
    z-index: 1000;
}

.comment-modal {
    width: 600px;
    position: relative;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $dark-color;
    border-radius: 20px;

    &-header {
        padding: .5rem 1.5rem;
        border-bottom: solid .1px rgba($light-color, 0.3);

        .close-btn {
            font-size: 2rem;
            color: $primary-color;
            cursor: pointer;
        }
    }

    &-body {
        padding: 1.5rem;
        display: flex;
        gap: 1rem;

        a {
            color: $primary-color;
        }

        .comment-tweet {
            position: relative;
            
            &::before {
                content: "";
                position: absolute;
                top: 3.5rem;
                left: -2.5rem;
                width: 1px;
                height: 80%;
                background-color: rgba($color: #fff, $alpha: .3);
                z-index: 1;
            }
        }

        .tweet-body {
            margin: 0.5rem 0rem;
            white-space: pre-wrap;
            line-height: 1.5rem;
        }

        .tweet-info {
            margin: 3rem 0 0 0;
            color: rgba($color: #fff, $alpha: .7);
        }
    }

    &-compose {
        padding: 0 1.5rem;
        display: flex;
        gap: 1rem;

        textarea {
            background: none;
            outline: none;
            border: none;
            overflow: hidden;
            resize: none;
            width: 100%;
            color: $light-color;
            font-size: 1.2rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            line-height: 1.5rem;

            &::placeholder {
                color: rgba($light-color, 0.7);
                font-size: 1.2rem;
                margin: auto 0;
            }
        }
    }

    &-footer {

        .comment-tweet-btns {
            padding: 0 2rem 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .comment-tweet-options {
                display: flex;
                gap: 0.5rem;
                color: $primary-color;
            }
        }
        
    }
}

.comments-wrapper {

    &:hover {
        background-color: rgba($color: #fff, $alpha: .03);
    }
}

.comments {
    display: flex;
    gap: 1rem;

    &-comment {
        width: 100%;


        .tweet-options {
            justify-content: space-between;
        }
    }
}